.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . main main main main main main . . ."
        ". . . main main main main main main . . ."
        ". . . main main main main main main . . ."
        ". . . main main main main main main . . .";
}

.main {
    grid-area: main;
}

.breadcrumb-position {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.routes {
    grid-row-start: 2;
    display: inherit !important;
    grid-column-start: 2;
    grid-column-end: 3;
}

.card {
    grid-row-start: 2;
    display: inherit !important;
    grid-column-start: 3;
    grid-column-end: 12;
}

.card-content {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: 9;
}

mat-card {
    padding: 40px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

mat-expansion-panel {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    box-shadow: none !important;
    border-radius: 0% !important;
}

.main.card mat-card h2 {
    margin-left: 70px !important;
}

.stroked-btn {
    border-radius: 0 !important;
    text-align: center !important;
    color: #f89330 !important;
    border: 1px solid #f89330 !important;
    background-color: white !important;
    margin-right: 20px !important;
    width: 120px;
}

.flat-btn {
    border-radius: 0 !important;
    background-color: #f89330 !important;
    text-align: center !important;
    color: white !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    margin-top: 30px !important;
    width: 120px;
}

.btn {
    border-radius: 0 !important;
    background-color: #f89330 !important;
    text-align: center !important;
    color: white !important;
    margin-right: 20px !important;
}

.flat-nav-btn {
    border-radius: 0 !important;
    background-color: #213f9a !important;
    text-align: center !important;
    color: white !important;
    margin-right: 20px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

mat-card .center {
    display: flex;
    justify-content: center;
}