<app-navbar></app-navbar>
<div class="main-container">
    <div class="main about-page">
        <div class="breadcrumb">
            <ul class="breadcrumb-list">
                <li class="not-last" *ngFor="let url of breadcrumb ; let
                    i=index">
                    <a *ngIf="i <breadcrumb.length - 1" href={{url[1]}}>{{url[0]}}</a>
                </li>
                <li class="last">{{getLastBreadcrumb()}}</li>
            </ul>
        </div>
        <mat-card>
            <div class="about">
                <h2>Σχετικά με τον Άτλας</h2>
                <p>
                    Ο Άτλας είναι μία κεντρική διαδικτυακή υπηρεσία, η οποία
                    διασυνδέει τους
                    φορείς που παρέχουν θέσεις πρακτικής άσκησης (ΠΑ) με όλα τα
                    ακαδημαϊκά
                    Ιδρύματα της επικράτειας, δημιουργώντας μία ενιαία βάση
                    θέσεων πρακτικής
                    άσκησης οι οποίες είναι διαθέσιμες προς επιλογή στα
                    Ιδρύματα.
                    Παράλληλα προσφέρει σφαιρική ενημέρωση σε θέματα που
                    άπτονται της αγοράς
                    εργασίας και των πρώτων βημάτων των φοιτητών σε αυτή.
                </p>
                <h2>Ποιούς Αφορά</h2>
                <ul>
                    <li>Τους φορείς (ιδιωτικούς, δημόσιους, ΜΚΟ κλπ) που μπορούν
                        να παρέχουν θέσεις ΠΑ</li>
                    <li>Τα όργανα των ακαδημαϊκών Ιδρυμάτων που έχουν αναλάβει
                        το συντονισμό της ΠΑ</li>
                    <li>Τους φοιτητές που έχουν δικαίωμα να εκτελέσουν ΠΑ βάσει
                        του προγράμματος σπουδών της σχολής τους</li>
                </ul>
                <h2>Που Αποσκοπεί</h2>
                <p>Στους στόχους του προγράμματος συγκαταλέγονται:</p>
                <ul>
                    <li>Αύξηση του αριθμού διαθέσιμων θέσεων πρακτικής άσκησης
                        στους φοιτητές ΑΕΙ</li>
                    <li>Απλοποίηση της επικοινωνίας των φορέων υποδοχής ΠΑ με τα
                        επιμέρους Ιδρύματα</li>
                    <li>Άμεση ενημέρωση των Ιδρυμάτων για τις διαθέσιμες θέσεις
                        και δυνατότητα άμεσης δέσμευσής τους</li>
                    <li>Δημιουργία κεντρικής βάσης διαθέσιμων θέσεων ΠΑ</li>
                    <li>Άμεσος έλεγχος της ποιότητας κατάρτισης και των γνώσεων
                        που αποκομίζουν οι φοιτητές μέσω υποβολής αξιολόγησης
                        από τους ίδιους και από τα αντίστοιχα όργανα των
                        Ιδρυμάτων</li>
                    <li>Περιορισμός της γραφειοκρατίας που συνοδεύει την
                        εκτέλεση πρακτικής άσκησης</li>
                </ul>
                <button class="flat-blue-btn" mat-flat-button
                    routerLink="/index">Επιστροφή Στην Αρχική Σελίδα</button>
            </div>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>