<div class="footer-container">
    <div class="footer student">
        <h2 class="text-white">
            Φοιτητές
        </h2>
        <ul>
            <li>Αναζήτηση Θέσεων ΠΑ</li>
            <li><a href="index/student/applications">Λίστα Αιτήσεων</a></li>
            <li><a href="index/faq-student">FAQ Φοιτητή</a></li>
        </ul>
    </div>
    <div class="footer employer">
        <h2 class="text-white">
            Εργοδότες
        </h2>
        <ul>
            <li><a href="index/employer/new-internship">Νέα Αγγελία</a></li>
            <li><a href="index/employer/internships">Λίστα Αγγελιών</a></li>
            <li><a href="index/faq-employer">FAQ Εργοδότη</a></li>
        </ul>
    </div>
    <div class="footer university">
        <h2 class="text-white">
            Γραφεία ΠΑ
        </h2>
        <ul>
            <li><a href="index/under-dev">FAQ Γραφείων ΠΑ</a></li>
        </ul>
    </div>
    <div class="footer misc">
        <h3 class="text-white">
            <a href="index/under-dev">Επικοινωνία</a>
        </h3>
        <br>
        <h3 class="text-white">
            <a href="/index/about">Σχετικά Με Τον Άτλας</a>
        </h3>
    </div>
</div>